// Resumen de Variables

$colorletra: black;
$fuenteprincipal: Roboto,sans-serif;
$fondohtml: white;
$fondocajacontenedora: lightblue;
$fondocaja1: pink;
$fondocaja2: blue;
$fondocaja3: green;
$fondocaja4: lightblue;
$fondocaja5: red;
$fondocaja6: brown;
$fondocaja7: deeppink;
$fondocaja8: yellow;
$fondocaja9: grey;
$fondocaja10: black;

// Mixins

@mixin caja() {
    border: 2px solid black;
    color: $colorletra;
    width: 18%;
    height: 100px;
    max-width: 18%;
    text-align: center;
    line-height: 100px;
    margin: 1px;
    display: block;
}

p {
    background-color: transparent;
}

// Archivo HTML

* {
    background-color: $fondohtml;
    margin: 0;
    padding: 0;
}

#cajas {
    display: flex;
    flex-flow: row wrap;
    background-color: $fondocajacontenedora;
    width: 100%;
    border: 1px solid lightblue;
    color: $colorletra;
    justify-content: center
}

.caja1 {
    @include caja();
    background-color: $fondocaja1;
    order: 1;
}

.caja2 {
    @include caja();
    background-color: $fondocaja2;
    order: 2;
    color: white;
}

.caja3 {
    @include caja();
    background-color: $fondocaja3;
    order: 3;
    color: white;
}

.caja4 {
    @include caja();
    background-color: $fondocaja4;
    order: 4;
}

.caja5 {
    @include caja();
    background-color: $fondocaja5;
    order: 5;
    color: white;
}

.caja6 {
    @include caja();
    background-color: $fondocaja6;
    order: 6;
    color: white;
}

.caja7 {
    @include caja();
    background-color: $fondocaja7;
    order: 7;
    color: white;
}

.caja8 {
    @include caja();
    background-color: $fondocaja8;
    order: 8;
}

.caja9 {
    @include caja();
    background-color: $fondocaja9;
    order: 9;
    color: white;
}

.caja10 {
    @include caja();
    background-color: $fondocaja10;
    order: 10;
    color: white;
}