p {
  background-color: transparent;
}

* {
  background-color: white;
  margin: 0;
  padding: 0;
}

#cajas {
  display: flex;
  flex-flow: row wrap;
  background-color: lightblue;
  width: 100%;
  border: 1px solid lightblue;
  color: black;
  justify-content: center;
}

.caja1 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: pink;
  order: 1;
}

.caja2 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: blue;
  order: 2;
  color: white;
}

.caja3 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: green;
  order: 3;
  color: white;
}

.caja4 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: lightblue;
  order: 4;
}

.caja5 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: red;
  order: 5;
  color: white;
}

.caja6 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: brown;
  order: 6;
  color: white;
}

.caja7 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: deeppink;
  order: 7;
  color: white;
}

.caja8 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: yellow;
  order: 8;
}

.caja9 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: grey;
  order: 9;
  color: white;
}

.caja10 {
  border: 2px solid black;
  color: black;
  width: 18%;
  height: 100px;
  max-width: 18%;
  text-align: center;
  line-height: 100px;
  margin: 1px;
  display: block;
  background-color: black;
  order: 10;
  color: white;
}

/*# sourceMappingURL=style.css.map */
